#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;

  background-color: #02000a;
  background: radial-gradient(#4c4c4d, #000102);
  padding: 12px;
  border-radius: 20px;
  border: 5px solid #70b9cb;
  /* box-shadow: 2px 10px 10px #656565; */
  box-shadow: 2px 10px 10px #2f2c2c;
  border-width: 1px 2px 1px 1px;
  background: linear-gradient(
    10deg,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    #79d0fb
  );
  color: #888989;
}

body {
  background-color: #02000a;
  /* background: radial-gradient(#55d5f8, #02000a,#02000a); */
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}
